/*Jeopardy CSS*/
/* Credit to Dr Mike */
/* ^^^^^^ */


.playertag {
    color: white;
 }
.highlight {
  color: green;
  background-color: green;
}

.btn-xlarge {
    padding: 18px 28px;
    font-size: 22px;
    line-height: normal;
    -webkit-border-radius: 8px;
       -moz-border-radius: 8px;
            border-radius: 8px;
    }
.radio {
  size: 30px;
  margin: 20px;
  opacity: 50%;
}
.successanswer {
    background-color: green;
    font-size: 44px;
}
#currentplayer {
  background-color: ;
}
.btn-outline-secondary {
  display: flex;
  flex-direction: row;
}
.top {
  height: 120px;
  width: 100%;
  background-color: red;
}
.playeropt {
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100vw;
  align-content: center;
}
.question {
    height:100px;
    vertical-align: middle;
    text-align: center;
    font-size: 1.5em;
    padding-top: 15px;
    cursor: pointer;
}
h1 {
  color: red;
}
