/*Jeopardy CSS*/

/* Player interactive elements tbc*/
/*.playertag {
    color: white;
 }
.highlight {
  color: green;
  background-color: green;
}
.currentturn {
  background-color: red;
  color: red;
}
#playerbtn:active {
  color: red;
  background-color: red;
}
#playerbtn2:active {
  color: green;
  background-color: green;
}*/
/* Content display */
.container-fluid {
  max-width: 900px
}
.logos {
  display: flex;
  justify-content: center;
  align-items: center;
}
#wdilogo {
  max-height: 256px;
  width: auto;
}
#score1 {
  color: green;
  font-size: 30px;
}
/* Key formatting of game board */
.navbar-header {
  max-width: 900px;
}
.button {
  height: 100%;
  width: 100%;
}
.btn-xlarge {
    color: white;
    height: 100%;
    width: 100%;
    padding: 18px 28px;
    font-size: 24px;
    line-height: normal;
    -webkit-border-radius: 8px;
       -moz-border-radius: 8px;
            border-radius: 8px;
    }
.btn-xlarge:hover {
    color:red;
    background-color: white;
}
.btn-outline-secondary {
  display: flex;
  flex-direction: row;
}
.top {
  height: 120px;
  width: 100%;
  background-color: red;
}
.playeropt {
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100vw;
  align-content: center;
}
.question {
    height:100px;
    vertical-align: middle;
    text-align: center;
    font-size: 1.5em;
    padding-top: 15px;
    cursor: pointer;
}
.gametitle {
  display: flex;
  align-items: center;
}
#headline {
  font-size: 30px;
}
.panel-footer {
  display: flex;
  justify-content: space-between;
}
h1 {
  color: red;
}
p {
font-size: 20px;
}
/* Credit to W3Schools VVV */
#animated_div {
  width:76px;
  height:47px;
  background: #92B901;
color: #ffffff;
position: relative;
font-weight:bold;
font-size:20px;
padding:10px;
animation:animated_div 5s 1;
-moz-animation:animated_div 5s 1;
-webkit-animation:animated_div 5s 1;
-o-animation:animated_div 5s 1;
border-radius:5px;
  -webkit-border-radius:5px;
}

@keyframes animated_div
{
0%    {transform: rotate(0deg);left:0px;}
25%   {transform: rotate(20deg);left:0px;}
50%   {transform: rotate(0deg);left:500px;}
55%   {transform: rotate(0deg);left:500px;}
70%   {transform: rotate(0deg);left:500px;background:#1ec7e6;}
100%  {transform: rotate(-360deg);left:0px;}
}

@-webkit-keyframes animated_div
{
0%    {-webkit-transform: rotate(0deg);left:0px;}
25%   {-webkit-transform: rotate(20deg);left:0px;}
50%   {-webkit-transform: rotate(0deg);left:500px;}
55%   {-webkit-transform: rotate(0deg);left:500px;}
70%   {-webkit-transform: rotate(0deg);left:500px;background:#1ec7e6;}
100%  {-webkit-transform: rotate(-360deg);left:0px;}
}

@-moz-keyframes animated_div
{
0%   {-moz-transform: rotate(0deg);left:0px;}
25%  {-moz-transform: rotate(20deg);left:0px;}
50%  {-moz-transform: rotate(0deg);left:500px;}
55%  {-moz-transform: rotate(0deg);left:500px;}
70%  {-moz-transform: rotate(0deg);left:500px;background:#1ec7e6;}
100% {-moz-transform: rotate(-360deg);left:0px;}
}

@-o-keyframes animated_div
{
0%   {transform: rotate(0deg);left:0px;}
25%  {transform: rotate(20deg);left:0px;}
50%  {transform: rotate(0deg);left:500px;}
55%  {transform: rotate(0deg);left:500px;}
70%  {transform: rotate(0deg);left:500px;background:#1ec7e6;}
100% {transform: rotate(-360deg);left:0px;}
}
