@font-face {
  font-family: "Korinna BT";
    src: url('fonts/Korinna Bold BT.eot');
    src: url('fonts/Korinna Bold BTeot?#iefix') format("embedded-opentype"),
    url('fonts/Korinna Bold BT.woff') format("woff"),
    url('fonts/Korinna Bold BT.ttf') format("truetype"),
    url('fonts/Korinna Bold BT.svg#Korinna BT') format("svg");
}

.panel-heading {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
}

.gridstyling {
    background-color: teal;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
}

.qcategory-title, .question, .scoretally {
  font-family: Korinna BT;
}3
/*.panel-body {*/
  /*background-color: #FA4542;*/
/*}*/
.container-fluid {
  max-width: 900px
}
.logos {
  display: flex;
  justify-content: center;
  align-items: center;
}
#wdilogo {
  max-height: 256px;
  width: auto;
}
#score1 {
  color: green;
  font-size: 30px;
}
.navbar-header {
  max-width: 900px;
}
.button {
  height: 100%;
  width: 100%;
}
.btn-xlarge {
    color: white;
    height: 100%;
    width: 100%;
    padding: 18px 28px;
    font-size: 24px;
    line-height: normal;
    -webkit-border-radius: 8px;
       -moz-border-radius: 8px;
            border-radius: 8px;
    }
.btn-xlarge:hover {
    color: black;
    background-color: red;
}
.btn-outline-secondary {
  display: flex;
  flex-direction: row;
}
.top {
  height: 120px;
  width: 100%;
  background-color: red;
}
.playeropt {
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100vw;
  align-content: center;
}
.question {
    height:100px;
    vertical-align: middle;
    text-align: center;
    font-size: 1.5em;
    padding-top: 15px;
    cursor: pointer;
}
.gametitle {
  display: flex;
  align-items: center;
}
#headline {
  font-size: 30px;
}
.panel-footer {
  display: flex;
  justify-content: space-between;
}
h4 {
  font-size: 35px;
}
h1 {
  color: red;
}
p {
font-size: 20px;
}
